.get__started--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: Center;
      -ms-flex-align: Center;
          align-items: Center;
  padding: 6em 2em;
  font-size: .9em;
  text-align: Center;
  position: relative;
}

.get__started--main::after, .get__started--main::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
}

.get__started--main::after {
  top: -10%;
  left: -10%;
  background: #b92b27;
  background: -webkit-gradient(linear, left top, right top, from(#009fff), to(#ec2f4b));
  background: linear-gradient(to right, #009fff, #ec2f4b);
  left: -3%;
}

.get__started--main::before {
  top: 80%;
  left: -10%;
  background: #f12711;
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
}

.get__started__content__section {
  font-family: 'Poppins',sans-serif;
}

.get__started__content__section h1 {
  font-size: 2.1em;
  line-height: 1.2;
}

.get__started__content__section p {
  line-height: 1.2;
  color: #575964;
  font-size: .8em;
}

.get__started__form {
  margin-top: 1.5em;
}

.get__started__form input {
  display: inline-block;
  padding: .7em 2em;
  background-color: #ffd900;
  outline: none;
  border: none;
  border-radius: 7px;
  font-family: 'Poppins',sans-serif;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  -webkit-transition: -webkit-transform 300ms,-webkit-box-shadow 300ms;
  transition: -webkit-transform 300ms,-webkit-box-shadow 300ms;
  transition: transform 300ms,box-shadow 300ms;
  transition: transform 300ms,box-shadow 300ms,-webkit-transform 300ms,-webkit-box-shadow 300ms;
}

.get__started__form input:hover, .get__started__form input:focus {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.get__started__form input:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.get__started__svg__section {
  display: none;
}

@media screen and (min-width: 800px) {
  .get__started--main {
    height: 450px;
    text-align: left;
  }
  .get__started--main::after {
    top: -3%;
    left: -3%;
  }
  .get__started--main::before {
    top: 60%;
    left: -2%;
  }
  .get__started__svg__section {
    display: block;
  }
  .get__started__svg__section svg {
    height: 450px;
  }
}
