*,
*::After,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 1em/1.5 "Roboto", sans-serif;
}

/*!--------header section of the page------- */
.header {
  padding: .6em 1em;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f2ff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.logo__link {
  text-decoration: none;
  display: inline-block;
}

.logo {
  height: 2.5em;
  display: block;
  margin-left: .5em;
  margin-right: .5em;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

/*---------- navigation---------- */
.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  margin: .4em;
}

.navigation__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__link {
  display: inline-block;
  padding: .3em .4em;
  text-decoration: none;
  font-size: .8em;
  color: #ed3a58;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation__link:hover, .navigation__link:focus {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  opacity: .75;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 1.15em;
  }
  nav a {
    padding: .4em .5em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.25em;
  }
}

.message__container {
  padding: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.05em;
}

.info__container {
  background-color: #c6ffcd;
  color: green;
}

.warning__container {
  background-color: #ffc4c4;
  color: maroon;
}

.msg__remove__btn {
  font-size: 1.1em;
  outline: none;
  border: none;
  background: transparent;
  margin-left: 1em;
}

.msg__remove__btn:hover, .msg__remove__btn:focus {
  font-weight: 700;
  cursor: pointer;
}

.warning__btn {
  color: maroon;
}

.info__btn {
  color: green;
}
