.get__started {
    &--main {
        display:flex;
        justify-content:center;
        align-items:Center;
        padding:6em 2em;
        font-size:.9em;
        text-align:Center;
        position:relative;

        &::after ,&::before {
            content:'';
            position:absolute;
            width:100px;
            height:100px;
            border-radius:50%;
            z-index:-1;
        }
        &::after {
            top:-10%;
            left:-10%;
            background: #b92b27;
            background: linear-gradient(to right, #009fff, #ec2f4b); 
            left:-3%;
        }
        &::before {
            top:80%;
            left:-10%;
            background: #f12711;  
            background: linear-gradient(to right, #f5af19, #f12711); 
        }
    }

    &__content__section {
        font-family:'Poppins',sans-serif;

        h1 {
            font-size:2.1em;
            line-height:1.2;
        }
        p {
            line-height:1.2;
            color:rgb(87, 89, 100);
            font-size:.8em;   
        }
    }
    
    &__form {
        margin-top:1.5em;  

        input {
            display:inline-block;
            padding:.7em 2em;
            background-color:rgb(255, 217, 0);
            outline:none;
            border:none;
            border-radius:7px;
            font-family:'Poppins',sans-serif;
            box-shadow:4px 4px 4px rgba(0,0,0,.2);
            font-size:1em;
            transition:transform 300ms,box-shadow 300ms;

            &:hover,&:focus {
                cursor:pointer;
                transform:translateY(-3px);
                box-shadow:10px 10px 15px rgba(0,0,0,.2);
            }
            &:active {
                transform:translateY(-1px);
                box-shadow:5px 5px 10px rgba(0,0,0,.3);
            }       
        }       
    }
    &__svg__section {
        display:none;
    }
}



@media screen and (min-width:800px) {
    .get__started {
        &--main {
            height:450px;
            text-align:left;

            &::after {
                top:-3%;
                left:-3%;
            }
            &::before {
                top:60%;
                left:-2%;
            }
        }
        &__svg__section {
            display:block;

            svg {
                height:450px;
            }
        }
    }
}