{% extends 'layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.min.css')}}">
{% endblock %}

{% block content %}
    <main class="register--main">

        <div class="gradient__section"></div>

        <form method="post" class="register__form" autocomplete="off">
            {{form.hidden_tag()}}

            <legend>Register Yourself</legend>

            <div class="form__group">
                {{form.username.label()}}
                {% if form.username.errors %}
                    {{form.username(class="field__error")}}
                    {% for error in form.username.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.username(placeholder="enter  a username")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.email.label()}}
                {% if form.email.errors %}
                    {{form.email(class="field__error")}}
                    {% for error in form.email.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.email(placeholder='enter your email address')}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.password.label()}}
                {% if form.password.errors %}
                    {{form.password(class="field__error")}}
                    {% for error in form.password.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.password(placeholder="enter a password")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.reenter_password.label()}}
                {% if form.reenter_password.errors %}
                    {{form.reenter_password(class="field__error")}}
                    {% for error in form.reenter_password.errors %}
                        <span class="error__msg">{{error}}</span>
                    {% endfor %}
                {% else %}
                {{form.reenter_password(placeholder="re-enter the password")}}
                {% endif %}
            </div>

            <div class="form__submit">
                {{form.submit()}}
            </div>

            <!-- go to login section link -->
            <div class="login__section">
                <p>Already have an account, <a href="/login" class="login">Login here</a></p>
            </div>

        </form>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}